/* Estrutura do CSS: */
/* Comentário em CSS */
/*
oq vai ser estilizado (seletores){
    color: valor da cor;
    font-size: valor do tamanho;
    font: tipo de letra;
    ...
}
*/

/* Exemplo: */
h1 {
    color: navy;
    text-align: center;
}

/* Principais seletores(): */

/* Seletor de elemento: aplica a todas as tags do tipo */
p { color: gray; }

/* Seletor de classe: aplica aos elementos com class="nomedaclass" */
.nomedaclass { color: red; }

/* Seletor de ID: aplica a elementos com id="iddoelemento" */
#iddoelemento { font-size: 32px; }

/* Agrupamento de seletores */
h1, h2, p { font-family: Verdana; }

/* Seletores de descendentes: aplica a elementos dentro de outros */
div p { color: blue; } /* Parágrafos dentro de divs */


/* Propriedades mais usadas: */

/*
color: cor do texto;
background-color: cor de fundo;
font-size: tamanho do texto;
font-family: tipo de letra;
font-weight: peso (normal ou bold);
text-align: alinhamento (left, center, right, justify);
width: largura;
height: altura;
margin: espaço externo (fora da borda);
padding: espaço interno (dentro da borda);
border: borda ao redor do elemento;
*/